# Ignore specific file

# Ignore any file named config.json everywhere
cache.ch

# Ignore a folder and all its contents
_CommonRedist/
mpmissions/dayzOffline.sakhal/storage_1/
addons/
appcache/
Backup Files/
battleye/
config/
DayZServerData/
docs/
dta/
keys/
logs/
server_manager/
steamapps/
@129_Fix_Item_Drop_After_Login/
@Carim/
@CarimMapStyle/
@CF/
@Community-Online-Tools/
@Dabs Framework/
@DonutsZombies/
@Ear-Plugs/
@GraveCross/
@InCarInventory/
@M1DGE Tshirts/
@MDG_Clothing/
@MDG_Hummers/
@MDG_Trader/
@MGT_Trader/
@MWGSM_Trader/
@PVEZ Reloaded/
@PvZmoD_CustomisableZombies/
@PvZmoD_Spawn_System/
@RaG_Vehicle_Pack/
@Trader/
@Trader Fix Pack/
@TraderPlus/
@TraderX/
@TruckFixV2/
@UKP_Clothing/
@VanillaPlusPlusMap/
@VPPAdminTools/
@ZomBerry Admin Tools/
@zSpawnSelection/


# Ignore by extension
*.RPT
*.ADM
*.log
*.mdmp
*.tmp
*.dll
*.lck
*.exe