<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
<!--        DONUTS EVENTS        

This is a version for you to adapt to your server.

I just tried to help by showing you where 
you can add the zombies.
You can configure it to your liking and place 
or remove them wherever you want.

-->

    <!-- DONUTS INFECTED ARMY -->
    <event name="InfectedArmy">
        <nominal>50</nominal>
        <min>25</min>
        <max>250</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="30" type="Donuts_Armyofficer_No_Arms"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_Zmb_usSoldierIII"/>
            <child lootmax="5" lootmin="0" max="0" min="20" type="Donuts_Zmb_usSoldierIV"/>
        </children>
    </event>
    <!-- DONUTS INFECTED ARMY HARD -->
    <event name="InfectedArmyHard">
        <nominal>50</nominal>
        <min>25</min>
        <max>250</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="20" type="Donuts_soldier_normalIV"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_soldier_normalV"/>
            <child lootmax="5" lootmin="0" max="0" min="20" type="Donuts_soldier_normalVI"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_soldier_normalIII"/>
        </children>
    </event>
    <!-- DONUTS INFECTED CITY -->
    <event name="InfectedCity">
        <nominal>50</nominal>
        <min>25</min>
        <max>250</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_Zmb_CitizenIV"/>
            <child lootmax="5" lootmin="0" max="0" min="3" type="Donuts_Zmb_CitizenIII"/>
            <child lootmax="5" lootmin="0" max="0" min="3" type="Donuts_Zmb_HikerIII"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_hermitIII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_joggerII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_jogger"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_CitizenFI"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_CitizenF"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Zmb_Clerk"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Clown"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbF_MilkMaidOldIII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbF_MilkMaidOldII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbF_MilkMaidOldI"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbF_MilkMaidOld"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbM_journalistIII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbM_journalistII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbM_journalist"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Zmb_OldManII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_FarmerI"/>

            <!--   UPDATE 30/05/2026 ADD 9 NEW ZMBS EM CITY SPAWN-->
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villager_Female_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villagerII_old_F"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villager_Male_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villagerI_old_M"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_jacket_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_jacket_Chest"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_JacketII_beige"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Hermit_Horror_Chest"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_prisoner_Waldo"/>
         
        </children>
    </event>
    <!-- DONUTS INFECTED CITY TIER1 -->
    <event name="InfectedCityTier1">
        <nominal>50</nominal>
        <min>25</min>
        <max>250</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_ZmbM_journalist"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_ZmbM_journalistII"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_ZmbM_journalistIII"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_paramedicIII"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_hermitIII"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_jogger"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_joggerII"/>

            <!--   UPDATE 30/05/2026 ADD 11 NEW ZMBS EM TIER 1 SPAWN-->
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_villager_Female_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_villagerII_old_F"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_villagerIII_old_F"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_villager_Male_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_villagerI_old_M"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_jacket_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_jacket_Chest"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_JacketII_beige"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_villagerIII_old_M"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_Hermit_Horror_Chest"/>
            <child lootmax="5" lootmin="0" max="0" min="8" type="Donuts_prisoner_Waldo"/>
            
        </children>
    </event>
    <!-- DONUTS INFECTED FIREFIGHTER -->
    <event name="InfectedFirefighter">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="90" type="Donuts_Zmb_FireFight"/>
            <child lootmax="5" lootmin="0" max="0" min="90" type="Donuts_Zmb_FireFightI"/>
            <child lootmax="5" lootmin="0" max="0" min="90" type="Donuts_Firefighter_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="90" type="Donuts_Firefighter_Ritual"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_NBC"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_NBCI"/>
        </children>
    </event>
    <!-- DONUTS INFECTED INDUSTRIAL -->
    <event name="InfectedIndustrial">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="4" type="Donuts_Zmb_Constru"/>
            <child lootmax="5" lootmin="0" max="0" min="4" type="Donuts_Zmb_ConstruII"/>
            <child lootmax="5" lootmin="0" max="0" min="4" type="Donuts_Zmb_ConstruIII"/>
            <child lootmax="5" lootmin="0" max="0" min="4" type="Donuts_ZmbM_ClownII"/>
        </children>
    </event>
    <!-- DONUTS INFECTED MEDIC -->
    <event name="InfectedMedic">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_ZmbM_Doctor_No_Arms"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_ZmbM_Doctor_No_Arms2"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_ZmbM_Doctor_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_Bluecollar_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_ZmbM_ChefNoTshirt"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_Zmb_DoctorF"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_Zmb_DoctorFI"/>
            <child lootmax="5" lootmin="0" max="0" min="10" type="Donuts_Zmb_ParamedicIII"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_Zmb_ParamedicIV"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_paramedicIII"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_paramedicIV"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_paramedicV"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_doctorIII"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_NBC"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_NBCI"/>   
        </children>
    </event>
    <!-- DONUTS INFECTED NBC -->
    <event name="InfectedNBCYellow">
        <nominal>50</nominal>
        <min>25</min>
        <max>250</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="3" lootmin="0" max="0" min="10" type="Donuts_NBC"/>
            <child lootmax="3" lootmin="0" max="0" min="10" type="Donuts_NBCI"/>
        </children>
    </event>
    <!-- DONUTS INFECTED POLICE -->
    <event name="InfectedPolice">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="40" type="Donuts_policewomanIII"/>
            <child lootmax="5" lootmin="0" max="0" min="40" type="Donuts_policewomanIV"/>
            <child lootmax="5" lootmin="0" max="20" min="0" type="Donuts_policewomanV"/>
            <child lootmax="5" lootmin="0" max="20" min="0" type="Donuts_policemanIII"/>
            <child lootmax="5" lootmin="0" max="20" min="0" type="Donuts_policemanIV"/>
            <child lootmax="5" lootmin="0" max="20" min="0" type="Donuts_policemanV"/>
        </children>
    </event>
    <!-- DONUTS INFECTED POLICE HARD -->
    <event name="InfectedPoliceHard">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="100" min="90" type="Donuts_paramedicIII"/>
            <child lootmax="5" lootmin="0" max="10" min="0" type="Donuts_policewomanIII"/>
            <child lootmax="5" lootmin="0" max="10" min="0" type="Donuts_Zmb_CoverallsIII"/>
            <child lootmax="5" lootmin="0" max="10" min="0" type="Donuts_Zmb_CoverallsIV"/>
            <child lootmax="5" lootmin="0" max="10" min="0" type="Donuts_Zmb_CoverallsV"/>
        </children>
    </event>
    <!-- DONUTS INFECTED RELIGIOUS -->
    <event name="InfectedReligious">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="100" type="Donuts_Zmb_Padre"/>
            <child lootmax="5" lootmin="0" max="0" min="100" type="Donuts_Zmb_PadreI"/>
            <child lootmax="5" lootmin="0" max="0" min="100" type="Donuts_Zmb_PadreII"/>
        </children>
    </event>
    <!-- DONUTS INFECTED SOLITUDE -->
    <event name="InfectedSolitude">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Zmb_HunterIII"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Zmb_HunterIV"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Zmb_HunterV"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_HunterF"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_HunterFI"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_HunterFII"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_farmerIV"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_farmerIII"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Farmer_Ritual"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_fishermanIII"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Fisherman_Ritual"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_ZmbM_ClownII"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Clown"/>

            <!--   UPDATE 30/05/2026 ADD 3 NEW ZMBS SOLITUDE SPAWN-->
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_Hermit_Horror_Chest"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_jacket_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="5" type="Donuts_villager_Female_No_Legs"/>

        </children>
    </event>
    <!-- DONUTS INFECTED VILLAGE -->
    <event name="InfectedVillage">
        <nominal>50</nominal>
        <min>25</min>
        <max>100</max>
        <lifetime>3</lifetime>
        <restock>0</restock>
        <saferadius>100</saferadius>
        <distanceradius>50</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>player</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_jogger"/>
            <child lootmax="5" lootmin="0" max="0" min="6" type="Donuts_joggerII"/>
            <child lootmax="5" lootmin="0" max="0" min="7" type="Donuts_Zmb_HikerIII"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Farmer_Ritual"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Zmb_OldMan"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Zmb_OldManI"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Clerk"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Ritual"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_ZmbM_Chef"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_Devol"/>

            <!--   UPDATE 30/05/2026 ADD 6 NEW ZMBS VILLAGE SPAWN-->
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villager_Female_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_jacket_No_Legs"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villagerII_old_F"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villagerIII_old_F"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villagerII_old_M"/>
            <child lootmax="5" lootmin="0" max="0" min="2" type="Donuts_villagerIII_old_M"/>

        </children>
    </event>
</events>
